@import '../../../../styles/base';
@import '../../../../styles/color';

.product-list {
  display: grid;
  grid-template-columns: repeat(4, (100%/4));
  margin: 0;
  padding: 0;

  .product-list__item {
    background-color: white;
    list-style: none;
    margin: ($margin/2);
    margin-bottom: $margin;
    margin-top: 0;
    padding: $padding;
  }
}
