@import "../../styles/base";

.cart {
  .cart__list {
    margin: 0;
    padding: 0;

    .cart__list__item {
      background-color: white;
      list-style: none;
      width: 100%;

      * {
        padding: $padding;
      }

      .cart__list__item__title {

      }

      .cart__list__item__quantity {

      }
    }
  }
}
